{{- $isPersonalMachine := false }}
{{- $isWorkMachine := false }}
{{- $personalEmail := "" }}
{{- $personalSshPubKey := "" }}
{{- $workEmail := "" }}
{{- $gcpProjectId := "" }}
{{- $gcpQuotaProject := "" }}

{{- if eq .chezmoi.os "darwin" }}
  {{- $isPersonalMachine = true }}
  {{- $personalEmail = promptString "Enter your Git personal email" }}
  {{- $personalSshPubKey = promptString "Paste your SSH public key" }}
{{- end }}

{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "fedora") }}
  {{- $isWorkMachine = true }}
  {{- $workEmail = promptStringOnce . "workEmail" "Enter your work email address" }}
  {{- $gcpProjectId = promptStringOnce . "gcpProjectId" "Vertex AI (Claude Code) - Enter the Google Project ID" }}
  {{- $gcpQuotaProject = promptStringOnce . "gcpQuotaProject" "Vertex AI (Claude Code) - Enter the Google Quota Project"}}
{{- end }}

data:
  isPersonalMachine: {{ $isPersonalMachine }}
  isWorkMachine: {{ $isWorkMachine }}
  {{- if $isPersonalMachine }}
  personalEmail: {{ $personalEmail }}
  personalSshPubKey: {{ $personalSshPubKey }}
  {{- end }}
  {{- if $isWorkMachine }}
  workEmail: {{ $workEmail }}
  gcpProjectId: {{ $gcpProjectId }}
  gcpQuotaProject: {{ $gcpQuotaProject }}
  {{- end }}
