#!{{ lookPath "bash" }}
{{- if .isWorkMachine }}

# Add vscode repository
if [ ! -f /etc/yum.repos.d/vscode.repo ]; then
    sudo rpm --import https://packages.microsoft.com/keys/microsoft.asc

    cat << 'EOF' | sudo tee /etc/yum.repos.d/vscode.repo
[code]
name=Visual Studio Code
baseurl=https://packages.microsoft.com/yumrepos/vscode
enabled=1
gpgcheck=1
gpgkey=https://packages.microsoft.com/keys/microsoft.asc
EOF
fi

# Update DNF metadata and packages
sudo dnf update --assumeyes --refresh

# Install DNF and Flatpak packages
{{- if hasKey .packages .chezmoi.osRelease.id }}
  {{- $data := index .packages .chezmoi.osRelease.id }}

  {{- if hasKey $data "dnf" }}
    sudo dnf install --assumeyes {{ $data.dnf | join " " }}
  {{- end }}

  {{- if hasKey $data "flatpak" }}
    flatpak install --assumeyes {{ $data.flatpak | join " " }}
  {{- end }}
{{- end }}

# Install ansible
pipx install --include-deps ansible --force

# Install vscode extensions
{{- range .vscode.extensions }}
code --install-extension {{ . }} --force
{{- end }}
{{- end }}
